**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.mypy_cache
.pytest_cache
.vscode
.idea
*.sqlite3
backend_error.log
debug_whatsapp.log
media/
static/
.env
